*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --primary-color: #545F66;
  --secondary-color: #e2e7de;
  --tertiary-color: #FFD300;
  --txt-color: #fff;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--txt-color);
}

a:visited{
  color: var(--txt-color);
}

button{
  border: none;
  cursor: pointer;
}