.form{
    text-align: center;
    margin-bottom: 20px;
}

.form_group label{
    background-color: #4a7a54;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: inset -2px -2px 5px #a1a8a4,
                inset 2px 2px 5px #233928;
                
}