.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: var(--primary-color);
}

.navbar .navbar_logo{
    display: inline-block;
    height: 100%;
}

.navbar .navbar_logo img{
    height: 100%;
}

.navbar_menu{
    margin-right: 30px;
}

.navbar_menu .liste{
    display: flex;
    gap: 20px;
    font-size: 1.1rem;
}

.navbar_menu .liste a:hover{
    color: var(--tertiary-color);
}

.navbar_btn{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--txt-color);
    font-size: 1.2rem;
    background-color: var(--primary-color);
}

.navbar_btn:hover{
    color: var(--tertiary-color);
}